.header{
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}

.header img{
    height: 3rem;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    padding: 0.3rem 0.8rem;
    transition: 0.2s;
    color: var(--green-300);
    border-radius: 8px;
}

.logo:hover{
    background: var(--green-300);
    color: var(--gray-800);
    cursor: pointer;
}

